# CHAPTER 10 - TUPLES

### 10.1 Tuples are immutable

In [1]:
# Syntactically, a tuple is a comma-separated list of values:
t = 'a', 'b', 'c', 'd', 'e'

In [2]:
# enclose tuples in parentheses to identify easily
t = ('a', 'b', 'c', 'd', 'e')

In [3]:
# create a tuple with a single element
t1 = ('a',)  # End a element by ','
type(t1)

tuple

In [4]:
t2 = ('a')
type(t2)

str

In [5]:
# built-in function tuple
t = tuple()
print(t)

()

In [6]:
built-in function tuple with string as argument
t = tuple('lupins')
print(t)

('l', 'u', 'p', 'i', 'n', 's')

In [7]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0]) # bracket operator indexes an element

a

In [8]:
print(t[1:3]) # slice operator selects a range of elements

('b', 'c')

In [9]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [10]:
# canâ€™t modify the elements of a tuple, but can replace one tuple with another
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

### 10.2 Comparing tuples

In [11]:
(0, 1, 2) < (0, 3, 4) # comparing with respective sequence elements

True

In [12]:
(0, 1, 2000000) < (0, 3, 4)

True

In [13]:
# you have a list of words and you want to sort them from longest to shortest:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
    t.append((len(word), word))

t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

### 10.3 Tuple assignment

In [14]:
# 1st Way

# unique syntactic features of the Python language is the ability to have a tuple on the left side of an assignment statement.
m = [ 'have', 'fun' ]
x, y = m

In [15]:
x

'have'

In [16]:
y

'fun'

In [17]:
# 2nd Way

m = [ 'have', 'fun' ]
x = m[0]
y = m[1]

In [18]:
x

'have'

In [19]:
y

'fun'

In [20]:
# 3rd Way

m = [ 'have', 'fun' ]
(x, y) = m

In [21]:
x

'have'

In [22]:
y

'fun'

In [23]:
# application of tuple assignment allows us to swap the values of two variables in a single statement
x, y = y, x

In [24]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [25]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [26]:
print(uname)

monty

In [27]:
print(domain)

python.org

### 10.4 Dictionaries and tuples

In [28]:
d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
print(t)
# Here each tuple is a key-value pair:

[('a', 10), ('b', 1), ('c', 22)]

In [29]:
t

[('a', 10), ('b', 1), ('c', 22)]

In [30]:
t.sort()

In [31]:
t

[('a', 10), ('b', 1), ('c', 22)]

### 10.5 Multiple assignment with dictionaries

In [32]:
for key, val in list(d.items()):
    print(val, key)

10 a
1 b
22 c

In [33]:
d = {'a':10, 'b':1, 'c':22}
l = list()
for key, val in d.items() :
    l.append( (val, key) )

In [34]:
l

[(10, 'a'), (1, 'b'), (22, 'c')]

In [35]:
l.sort(reverse=True)
l

[(22, 'c'), (10, 'a'), (1, 'b')]

### 10.6 The most common words

In [37]:
import string
fhand = open('romeo-full.txt')
counts = dict()
for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

# Sort the dictionary by value
lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))

lst.sort(reverse=True)

for key, val in lst[:10]:
    print(key, val)

61 i
42 and
40 romeo
34 to
34 the
32 thou
32 juliet
30 that
29 my
24 thee