# CHAPTER 8 - LISTS

### 8.1 A list is a sequence

In [1]:
# There are several ways to create a new list; the simplest is to enclose the elements in square brackets ([ and ]):
[10, 20, 30, 40]

[10, 20, 30, 40]

In [2]:
['crunchy frog', 'ram bladder', 'lark vomit']

['crunchy frog', 'ram bladder', 'lark vomit']

In [3]:
# list contains a string, a float, an integer, and (lo!) another list:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

In [4]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 123] []

### 8.2 Lists are mutable

In [5]:
# the indices start at 0:
print(cheeses[0])

Cheddar

In [6]:
numbers = [17, 123]
numbers[1] = 5
print(numbers)

[17, 5]

In [7]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

True

In [8]:
'Brie' in cheeses

False

### 8.3 Traversing a list

In [9]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [10]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print(numbers[i])

34
10

In [11]:
# A for loop over an empty list never executes the body
for x in empty:
    print('This never happens.')

In [12]:
# Although a list can contain another list, the nested list still counts as a single element. The length of this list is
t = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(t)

4

### 8.4 List operations

In [13]:
# The + operator concatenates lists:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [14]:
# the * operator repeats a list a given number of times:
[0] * 4

[0, 0, 0, 0]

In [15]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 8.5 List slices

In [16]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [17]:
t[:4]

['a', 'b', 'c', 'd']

In [18]:
t[3:]

['d', 'e', 'f']

In [19]:
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
# A slice operator on the left side of an assignment can update multiple elements:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

### 8.6 List methods

In [21]:
t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [22]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [23]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

### 8.7 Deleting elements

In [24]:
t = ['a', 'b', 'c']
x = t.pop(1)
print(t)
print(x)

['a', 'c']
b

In [25]:
# If you donâ€™t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

In [26]:
# If you know the element you want to remove (but not the index), you can use remove:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [27]:
# To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

['a', 'f']

### 8.8 Lists and functions

In [28]:
nums = [3, 41, 12, 9, 74, 15]

In [29]:
len(nums)

6

In [30]:
max(nums)

74

In [31]:
min(nums)

3

In [32]:
sum(nums)

154

In [33]:
sum(nums)/len(nums)

25.666666666666668

In [34]:
# To compute an average without a list:
total = 0
count = 0
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    total = total + value
    count = count + 1

average = total / count
print('Average:', average)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: done
Average: 3.0

In [35]:
# Use built-in functions to compute the sum and count at the end
numlist = list()
while (True):
    inp = input('Enter a number: ')
    if inp == 'done': break
    value = float(inp)
    numlist.append(value)

average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: done
Average: 3.0

### 8.9 Lists and strings

In [36]:
# convert dtring to list using built in function
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [37]:
# To break a string into words, use the split method
s = 'pining for the fjords'
t = s.split()
print(t)

['pining', 'for', 'the', 'fjords']

In [38]:
print(t[2])

the

In [39]:
# split with an optional argument called a delimiter
s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

In [40]:
# join is the inverse of split
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

'pining for the fjords'

### 8.10 Parsing lines

In [41]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

### 8.11 Objects and values

In [42]:
a = 'banana'
b = 'banana'
# To check whether two variables refer to the same object, use the 'is' operator.
a is b

True

In [43]:
a = [1, 2, 3]
b = [1, 2, 3]
# two lists are equivalent, because they have the same elements, but not identical, because they are not the same object
a is b

False

### 8.12 Aliasing

In [44]:
a = [1, 2, 3]
b = a
b is a

# The association of a variable with an object is called a reference. In this example,
# there are two references to the same object.
# An object with more than one reference has more than one name, so we say that
# the object is aliased.

True

In [45]:
b[0] = 17
print(a)

# If the aliased object is mutable, changes made with one alias affect the other

[17, 2, 3]

### 8.13 List arguments

In [46]:
def delete_head(t):
    del t[0]

In [47]:
letters = ['a', 'b', 'c']
delete_head(letters)
print(letters)

['b', 'c']

In [48]:
# The append method modifies a list, but the + operator creates a new list:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [49]:
print(t2)

None

In [50]:
t3 = t1 + [3]
print(t3)

[1, 2, 3, 3]

In [51]:
t2 is t3

False

In [52]:
# this function does not delete the head of a list:
def bad_delete_head(t):
    t = t[1:]

In [53]:
# tail returns all but the first element of a list:
def tail(t):
    return t[1:]

In [54]:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)

['b', 'c']